# Python artifacts
__pycache__/
*.pyc

# Virtual environment
.venv/

# Ignore everything in data/
data/*

# Keep subfolders
!data/sqlite/

# Ignore specific database artifacts
data/sqlite/*.sqlite3
data/sqlite/*.sqlite3-wal
data/sqlite/*.sqlite3-shm
